/*--------------------------------------
  Main page
-------------------------------------- */
/* Header-sort-bar-mobile */
.header__sort-bar {
  position: fixed;
  top: 94px;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  height: 48px;
  margin: 0;
  padding: 0;
  align-items: center;
  border-top: 2px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  z-index: -1;
}

.header__sort-bar-top {
   top: 74px;
}

.header__sort-item {
  flex: 1;
}

.header__sort-item:first-child .header__sort-link::before {
  display: none;
}

.header__sort-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}

.header__sort-item--active  .header__sort-link {
  color: var(--primary-color);
}

.header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  border-left: 2px solid #e5e5e5;
  transform: translateY(-50%);
}

.container-home-page {
   background: url(../images/slider-01.png) no-repeat fixed center;
   background-size: 100%;
   width: 100%;
   height: 100vh;
   object-fit: cover;
}


/* Slider */
.image-slider {
  padding: 60px 20px 0;
  background-color: #eeeeee;
}

.image {
  height: 200px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}

.slick-arrow {
  position: absolute;
  top: 43%;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
  background-color: var(--primary-color);
}

.slick-arrow:hover {
  background-color: var(--secondary-color);
  color: white;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  padding: 20px 0;
  left: 58%;
  display: flex !important;
  justify-content: center;
}

.slick-dots button {
  font-size: 0;
  margin: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  transition: all 0.2s linear;
}

.slick-dots .slick-active button {
  background-color: var(--gray-color);
}


/* Content */
.app__container {
  background-color: #eeeeee;
}

.app__content {
    padding-top: 30px;
}

.category { 
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading { 
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
  padding: 16px 16px 10px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  text-align: center;
}

.category__heading  > img {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 35px;
    height: 35px;
}

.category-item__link {
  font-size: 1.4rem;
  padding: 8px 10px;
  display: block;
}

.category-item__link:hover {
  color: var(--primary-color);
}

.category-img {
  overflow: hidden;
}

.category-img img {
  width: 100%;
  transition: all .4s ease;
}

.category-img:hover img {
  transform: scale(1.2);
}

.category-title {
  margin-top: 6px ;
  font-size: 1.4rem;
  padding: 0 2px;
  font-weight: 550;
}

/* Home filter */
.filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);  
}

.filter__lable > a {
  display: inline-block;
  font-size: 1.4rem;
  color: #555;
  /* margin-right: 16px; */
  padding: 12px 22px;
}
 
.filter__lable--active  a {
   background-color: var(--white-color);
   border-bottom: 2px solid var(--primary-color);
}

/* Seletion */
.slection {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.slection > select {
  font-size: 1.4rem;
  padding: 5px;
  margin-left: 10px;
  background-color: var(--white-color);
  color: rgb(131, 131, 131);
  border: none;
  width: 140px;
}

/* Mobile-category */
.mobile-category__list {
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-left: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
} 

.mobile-category__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 4rem;
    display: block;
    border-radius: 5px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 6px;
}

/*Home-product-item */
.product {
  margin-bottom: 20px ;
}

.product-item {
  display: block;
  background-color: var(--white-color);
  margin-top: 12px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  transition: transform ease-in 0.1s;
  will-change: transform;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
}

.product-item__img  {
  position: relative; 
}

.product-item__img:hover .product__item-sale-off {
  display: none;
}

.product-item__img:hover .produc-item-info {
  display: block;
  transition: all 0.3s ease;
}

.product-item__img::after {
  content: "";
  position: absolute ;
  left: 0;
  top:0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.product-item__img:hover::after {
  height: 97.5%;
}

.product-item__img > img {
  width: 100%;
}

.produc-item-info  {
  position: absolute;
  color: var(--white-color);
  top: 20% ;
  left: 20%; 
  z-index: 10;
  display: none;
}

ul.produc-item-menu > li  {
  padding: 6px 12px;
  background-color: #ee4d2d;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: 0 4px;
}

div.produc-item-order {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #ee4d2d;
  font-size: 1.3rem;
  border-radius: 5px;
  color: var(--white-color);
}

div.produc-item-order > i {
  margin-right: 8px;
}

ul.produc-item-menu > li:hover, 
div.produc-item-order:hover {
    background-color: var(--secondary-color);
}

.product-item-name {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 550;
    line-height: 1.8rem;
    height: 2rem;
    padding: 4px 0 4px 8px;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product-item-name > i {
  background-color: var(--yellow-color);
  color: var(--yellow-color);
}

.product-item-name:hover {
    transform: scale(1.03);
}

.product-item-address {
  color: var(--black-color);
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 4px 0 2px 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product-item__evaluate {
    display: flex;
    align-items: center;
    padding: 6px 8px;
}

.product-item-user--img  {
  width: 17%;
}

.product-item-user--img > img {
  width: 90%;
  display: inline-block;
  border-radius: 50%;
}

.product-item-user {
    width: 83%;
}
 
.product-item-user--name {
  font-size: 1.2rem;
  color:var(--black-color);
  font-weight: 550;
}

.product-item-user--comment {
  margin-left: 6px;
  color: #888888;
  font-size: 1.2rem;
  overflow: hidden;
  display: -webkit-box ;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item-user--comment  span {
  font-weight: 600;
  color: var(--black-color);
  font-size: 1.3rem;
}
 
.product-item-count {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 12px;
  align-items: center;
}

.produc-item-comment,
.produc-item-photo {
    padding: 6px;
    font-size: 1.4rem;
    color: var(--gray-color);
}

.produc-item-comment:hover,
.produc-item-photo:hover{
  color: var(--black-color);
}

.produc-item-comment > i,
.produc-item-photo > i,
.produc-item-mark > i{
    margin: 8px 4px;
}

.produc-item-mark {
  padding: 6px;
  font-size: 1.4rem;
  color: var(--gray-color);
  background-color: var(--gray-input-color);
  border-radius: 2px;
}

.produc-item-mark:hover {
   color: var(--primary-color);
}

.product__item-sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color:var(--primary-color);
  border-top-right-radius: 2px;
  animation: swing infinite 3s;
  transition: all ease 0.3s;
}

.product__item-sale-off-percen {
  color: var(--yellow-color);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  top: 3px;
  left: 2px;
}

.product__item-sale-off-lable {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 2px;
  font-weight: 600;
}

.product__item-sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent var(--primary-color);
}


/* See more */
.btn-see-more {
  text-align: center;
}

.product-more {
  display: none;
  animation: fadeIn linear 0.3s;
}

.btn-see-more {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-more {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-more:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}

.btn-more:hover {
  color: var(--black-color);
}

.btn-more:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}




/*--------------------------------------
Introduce
  -------------------------------------- */
.container-introduce {
    background: url(https://ipos.vn/wp-content/uploads/2022/03/nha-hang-han-quoc-3.jpg) no-repeat fixed center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
  
.content {
    position: relative;
    top: 40%;
    z-index: 2;
    line-height: 1.2;
    text-align: center;
    color: var(--white-color);
}

.title {
    font-size: 7.2rem;
    color: var(--yellow-color);
    font-family: "Charmonman", cursive;
    animation-delay: 0.2s;
}

.sub-title {
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Charmonman", cursive;
    animation-delay: 0.7s;
}

.heading {
  text-align: center;
  color: var(--gray-color);
  margin-bottom: 8px;
  background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
}

.heading > h1 { 
    text-align: center;
    font-size: 6rem;
    line-height: 60px;
    font-weight: 600;
    margin: 30px 10px 30px;
    text-transform: uppercase;
    text-shadow: 1px 4px 2px var(--black-color);
    background: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    
}

.heading > h1::after { 
  content: "";
  display: block;
  height: 5px;
  width: 5%;
  background-color: var(--black-color);
  margin: 10px auto;
}

.about-us-bg {
  background-color: var(--white-color);
}

.about-us__content  h2 {
  font-size:2.5rem; 
  color: var(--black-color);
  padding: 15px 0;
  margin-left: 50px;
  font-family: "Charmonman", cursive;
}

.about-us__content h5 {
  font-size:2.5rem; 
  font-family: "Charmonman", cursive;
  color: var(--black-color);
  padding: 15px 0;
  margin-left: 50px;
}

.about-us__content {
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.about-us__content p {
  width: 80%;
  padding: 10px 0;
  line-height: 30px;
  font-size: 1.4rem;
  margin-left: 50px;
}

.about-us__img > img {
    width: 100%;
}

/*--------------------------------------
    Blog
-------------------------------------- */
.container-blog {
    background: url(https://blog.beemart.vn/wp-content/uploads/2019/08/che-do-an-uong-lanh-manh-1.jpg) no-repeat  fixed center ;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 10rem;
}

.blog {
  background: var(--white-color);
}

.blog-item {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 12px var(--shadow-color);
}

.blog-item:hover .blog-item__img img {
  box-shadow: 0 0 32px var(--gray-color);
  transform: scale(1.05);
}

.blog-item__img {
  position: relative;
}

.blog-item__img img {
  width: 100%;
  height: 450px;
  display: block;
  transition: all ease 0.3s;
}

.blog-item__img span {
    position: absolute;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.8rem;
    line-height: 2.4rem;
    top: 0px;
    left: 0px;
    padding: 8px 24px;
    border-bottom-right-radius: 20px;
}

.blog-item__details {
  padding: 30px;
}

.blog-item__details h3 {
  font-size: 2.4rem;
}

.blog-item__details p {
  font-size: 1.3rem;
  margin-bottom: 4px;
}

.blog-item__details-status > li {
   padding: 12px 8px;
   font-size: 1.3rem;
}

.blog-item__details-status > li >:hover {
    color: var(--primary-color);
}

a.blog-item__read-more {
    display: block;
    padding: 12px 0 0;
    font-size: 1.6rem;
    color: var(--primary-color);  
}

a.blog-item__read-more:hover {
  text-decoration: underline;
}

/* pagination */
.pagination {
    margin: 50px 0;
}

.pagination-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-menu > li {
  padding: 5px;
}

.pagination-menu > li > a {
  display: block;
  padding: 10px 20px ;
  line-height: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  color: var(--text-color);
  background: var(--gray-input-color);
  transition: all ease 0.3s;
}

.pagination-menu > li > a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-menu > li:nth-child(2) > a {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Blog right */
.blog-right-sidebar {
     margin-top: 20px;
}

.search__type {
   width: 100%;
   height: 40px;
   position: relative;
}

.search__type input[type="text"] {
   padding: 10px;
   border: 1px solid var(--gray-color);
   width: 100%;
}

.search__type i {
  position: absolute;
  top:0;
  right: 10px;
  line-height: 40px;
  font-size: 1.8rem;
  cursor: pointer;
}

.search-btn {
    margin: 10px 0;
}

.search-btn input[type="submit"] {
   width: 100%;
   padding: 12px 0;
   border: 1px solid var(--primary-color);
   transition: all ease 0.3s;
   cursor: pointer;
}

.search-btn input[type="submit"]:hover {
  color: var(--white-color);
  background: var(--primary-color);
}

.search-btn input[type="submit"]:focus {
  outline: none;
}

/* Newest */
.newest__header {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 24px 0 12px;
  border-radius: 5px 25px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding: 12px 24px;
}

.newest__menu-items {
  display: flex; 
  align-items: center;
  overflow: hidden;
}

.newest__menu-items img {
    width: 130px;
}

.newest__menu-items img:hover {
    transform: scale(1.05);
}

.newest__menu-items--details {
  padding: 0 0 0 8px;
  margin: 8px 0;
}

.newest__menu-items--details > a {
   color: var(--text-color);
   font-weight: 600;
   font-size: 1.8rem;
   line-height: 2rem;
}

.newest__menu-items--details:hover > a {
  color: var(--primary-color);
}

.newest__menu-items--details > span {
   font-size: 1.4rem;
   display: block;
   padding: 8px 0;
}

/* Category */
.category__header {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 24px 0 12px;
  border-radius: 5px 25px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding: 12px 24px;
}

.category-menu {
  margin-left: 32px;
}

.category__menu-items {
  padding: 18px 0;
  font-size: 1.8rem;
  list-style-image: url(../images/menu-items-bullet.gif);;
}

.category__menu-items > a {
  position: relative;
  color: var(--text-color);
}

.category__menu-items a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 0%;
  background-color: var(--primary-color);
  transition: width ease 0.5s;
}

.category__menu-items > a > span {
  color: var(--primary-color);
}

.category__menu-items:hover > a {
  color: var(--primary-color);
}

.category__menu-items:hover > a::after {
  width: 100%;
}

/* Tags */
.Tag {
  margin-top: 36px;
}

.Tag__header {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 24px 0 12px;
  border-radius: 5px 25px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding: 12px 24px;
}

.Tag-clouds__menu > a {
    display: inline-block;
    color: var(--text-color);
    padding: 8px 12px;
    border-radius: 20px;
    background-color: var(--gray-input-color);
    margin: 8px 4px;
    font-size: 1.4rem;
}

.Tag-clouds__menu > a:hover {
  color: var(--white-color);
  background: var(--primary-color);
}

/*--------------------------------------
    Contact
-------------------------------------- */
.container-contact {
  background: url(https://kenh14cdn.com/thumb_w/660/2019/6/3/4-1559551546281832979526.jpg) no-repeat  fixed center ;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 10rem;
}

.sub-tittle {
  font-size: 1.8rem;
  font-family: "Charmonman", cursive;
  color: var(--primary-color);
  font-weight: 700;
  font-style: italic;
  padding: 14px 12px;
}

.tittle > h2 {
  padding: 10px 12px;
  font-size: 1.8rem;
}

.tittle-decs > img {
  width: 400px ;
  height: 500px;
}

.contact__info h3 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 16px;
  font-family: "Charmonman", cursive;
}

.contact__info label {
  font-size: 1.6rem;
  font-weight: 550;
  padding: 0 16px;
  line-height: 2.8rem;
}

.contact__info span {
  color: var(--primary-color);
  font-size: 2.4rem;
  padding: 2px;
}

.contact__info input {
  width: 100%;
  padding: 12px 10px;
  font-size: 1.6rem;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  margin: 0 14px;
  line-height: 2rem;
}

input:hover {
    border-color: var(--primary-color);
}

.form-groups {
    margin-top: 12px;
}

.form-controls textarea {
  width: 100%;
  height: 320px;
  padding: 10px 20px;
  margin: 18px 0 0 14px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  font-size: 1.6rem;
}

textarea:hover {
    border-color: var(--primary-color);
}

.form-actions input{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    margin-top: 16px;
    line-height: 2.7rem;
    cursor: pointer;
}

.container-address {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-color);
    padding: 30px 0px;
    border-radius: 10px;
    margin-top: 2rem;
}

.container-address i {
  padding: 18px;
  font-size: 2.4rem;
  background-color: var(--gray-input-color);
  border-radius: 49%;
}

.container-address i:hover {
  background-color: var(--primary-color);
}

.container-address h3 {
   font-size: 2.2rem;
   margin: 8px 0;
   line-height: 1.8rem;
   margin-left: 14px;
   color: var(--gray-color);
   font-weight: 800;
}

.container-address span {
  font-size: 1.6rem;
  margin-left: 14px;
}

.map {
  margin-top: 5rem;
}

.map iframe {
  width: 100%;
}

/*--------------------------------------
    Gallery
-------------------------------------- */
.container-gallery {
  background: url(http://colombo.vn/upload/20922/20180814/Table-1.jpg) no-repeat fixed center;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.gl-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gl-image {
  width: 34rem;
  margin: 10px;
}

.gl-image > img {
  width: 100%;
  border: .3rem solid var(--primary-color);
  transition: .3s;
}

.gl-image > img:hover {
  filter: graysacale(100%);
  transform: scale(1.1);
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--shadow-color);
}

#gallery {
  position: fixed;
  background-color: var(--shadow-color);
  width: 100%;
  height: 100%;
  color:white;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.8);
  transition: 1s;
  pointer-events: none;
}

#gallery.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#gl-close {
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 35px;
}

#gl-close:hover {
  color: var(--primary-color);
}

.gl-control {
  position: absolute;
  font-size: 35px;
  color: rga(255, 255, 255, 0.8);
}

.gl-control:hover {
  color: var(--primary-color);
}

.gl-control#gl-prev {
  left: 15px;
  z-index: 1000;
}

.gl-control#gl-next {
  right: 15px;
  z-index: 1000;
}

.gl-control.hide {
  display: none;
}

/*--------------------------------------
    News
-------------------------------------- */
/* MAIN */
.container-news {
  background: url(http://hoctienghanquoc.org/uploads/tin-tuc/2016_07/van-hoa-an-uong-cua-nguoi-han1.jpg) no-repeat fixed center;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.n-flex {
  display: flex;
  align-items: center;
}

#n-main {
  display: flex;
  background-color: white;
  font-family: 'Be Vietnam';
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}

#n-mainleft {
  width: 50%;
  height: 100%;
}

#n-mainright {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

.n-left {
  position: relative;
  padding: 20px 10px 20px 20px;
  width: 100%;
  height: 100%;
}

.n-right1 {
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px;
  padding-top: 20px;
}

.n-right2 {
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px;
  padding-top: 20px;
}

.n-right3 {
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px;
  padding-bottom: 20px;
}

.n-right4 {
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px;
  padding-bottom: 20px;
}

#n-main img {
  width: 100%;
  height: 100%;
  filter:brightness(75%);
}

#n-main a {
  z-index: 1;
  position: absolute;
  width: 95%;
  height: 95%;
}
/* Thumb */
.n-thump {
  z-index: 1;
  width: 95%;
  color: white;
  position: absolute;
  bottom: 20px;
}

.n-thump > * {
  margin: 5px;
}

.n-thump a{
  position:static !important;
  font-size: 28px;
  color: white;
  
}

.n-thump p:first-child {
  display: block;
  font-style: italic;
  margin: 10px;
}

.n-thump p:last-child {
  margin-top: 0;
}

.n-thump p {
  font-size: 18px;
  display: none;
  transition: 3s;
}

.n-thump:hover p {
  display: block;
  transform: translateY(5px);
  transition: 1s;
}
/* ------------- */
#n-mainright .n-thump a{
  position:static !important;
  font-size: 20px;
  color: white;
}

/* CLONE */
/* #n-clone *{
  border: 2px solid black;
} */

#n-clone {
  margin: 10px auto;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.n-cloneleft {
  width: 60%;
}

.n-clonenav {
  border-bottom: 1px solid var(--shadow-color);
}
.n-clonenav a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  margin: 5px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color)
}

.n-clonenav a.active {
  color: white;
  box-shadow: 4px 4px var(--shadow-color);
  background-color: var(--primary-color);
}

.clonefoodimg {
  height: 80px;
  width: 80px;
  padding:5px;
  
}

.clonefood {
  border-bottom: 1px solid var(--shadow-color);
}

.clonefoodimg > img {
  width: 100%;
  height: 100%;
  padding: 2px;
}

.clonedrinkimg {
  height: 80px;
  width: 80px;
  padding:5px; 
}

.clonedrink {
  border-bottom: 1px solid var(--shadow-color);
}

.clonedrinkimg > img {
  width: 100%;
  height: 100%;
  padding: 2px;
}
.n-cloneleft{
  width: 60%;
}
.n-cloneleft > div {
  background-color: white;
  padding: 20px 10px 20px 20px;
}

#clonefoods {
  display: none;

}
#clonefoods.active {
  display: block;
}

#clonedrinks {
  display: none;
}

#clonedrinks.active {
  display: block;
}

/* Weather */
.n-cloneright {
  width: 40%;
}

.n-cloneright table {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.fa-sun {
  animation: spin 5s linear infinite;
}

.n-cloneright > div {
  background-color: var(--primary-color);
}

#wearther-icon,#weather-temp  {
  font-size: 55px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

#weather-place {
  font-size: 30px;
  font-weight: bold;
  color: white
}

#weather-tmain {
  font-size: 15px;
  color: white
}

.weather-title {
  font-size: 10px;
  color: white;
}

.weather-header {
  color: white;
  font-size: 20px;
  padding: 15px
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}